$image: "../../../images/incorrect-x.png";

.X-overlay {
  background: url($image) no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
