@import "sizes.scss";

.Consonant-vowel-review-level-lesson {
  @include breakpoint($tablet) {
    .Display-text {
      min-width: 160px;
      height: 175px;
    }

    .Scene-bar--count-5 .Play-box {
      margin: 0 1rem;
    }
  }
}
