@import "../../susy.scss";
@import "../../util.scss";

$button-color: #dfe8f5;
$button-color-hover: #e9eff8;
$section-header-color: #e4ecf7;
$lesson-button-title-size: 32px;
$lesson-button-title-offset: 25px;

$row-count: 5;
$row-spacing: 1%;
$row-height: (100%/$row-count) - $row-spacing;

.admin-section-4 {
    > .Lesson-button {
        background-color: $button-color;

        @include active {
            background-color: $button-color-hover;
        }
    }

    .Lesson-button__title {
        text-decoration: underline;
        font-size: $lesson-button-title-size;
    }

    .sub-lesson__title {
        @include pos(40%, 0);
        width: 100%;
        font-size:  $lesson-button-title-size;
        text-align: center;
    }
}

// Long buttons
.admin-section-4 > .Lesson-button-21,
.admin-section-4 > .Lesson-button-27,
.admin-section-4 > .Lesson-button-31,
.admin-section-4 > .Lesson-button-37 {
    @include span(6 of 10);
    height: $row-height;
    margin-bottom: $row-spacing;

    > .Lesson-button__index {
        display: none;
    }

    .Lesson-button__title {
        @include pos($lesson-button-title-offset, 1%);
        font-size: $lesson-button-title-size;
        text-decoration: underline;
    }
}

// Short review buttons
.Lesson-button-26,
.Lesson-button-30,
.Lesson-button-36,
.Lesson-button-42 {
    @include span(2 of 10);
    position: relative;
    height: $row-height;
    margin-bottom: $row-spacing;

    .Lesson-button__title {
        @include pos(40%, 0);
        width: 100%;
        text-align: center;
        font-size: $lesson-button-title-size;
        text-decoration: none;
    }

    &::after {
        content: "Review";
        @include pos($lesson-button-title-offset, 0);
        width: 100%;
        text-align: center;
        font-size: $lesson-button-title-size;
        text-decoration: underline;
    }
}

.Lesson-button-26,
.Lesson-button-42 {
    @include last;
    float: left;
}

.Lesson-button-43 {
    @include span(2 of 10);
    height: (2 * $row-height) + 1.5%;
    margin-bottom: $row-spacing;
    @include last;

    .Lesson-button__title {
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
        text-decoration: none;
    }
}

.inner-buttons {
    position: relative;
    @include span(9);
    margin-left: span(3);
    height: 80%;
    top: 10%;
}

.inner-buttons .Lesson-button {
    @include span(1 of 5);
    height: 100%;
    background: WHITE;
    border: 1px solid black;
    border-radius: 8px;

    .Lesson-button__title {
        @include pos(40%, 0);
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

    &:last-child {
        @include last;
        float: left;
    }
}
