@import "sizes.scss";
$icon-image: "../../../images/lock-icon.png";
$icon-width: 22px;
$icon-height: 29px;
$icon-spacing: 4px;
$font-size: 25px;
$color: #568ED4;
$hover-color: #223854;

$phone-font-size: 15px;
$phone-icon-height: 19px;
$phone-icon-width: ($icon-width / $icon-height) * $phone-icon-height;

.Lock-link {
  cursor: pointer;
  color: $color;
  font-size: $font-size;

  &__text,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    position: relative;
    line-height: $icon-height;
    height: $icon-height;
    text-decoration: underline;
  }

  &__icon {
    width: $icon-width;
    height: $icon-height;
    margin-right: $icon-spacing;
    background: url($icon-image) no-repeat;
    background-size: 100% 100%;
  }

  @include breakpoint($phone) {
    font-size: 15px;
    &__text {
      height: $phone-icon-height;
      line-height: $phone-icon-height;
    }
    &__icon {
      height: $phone-icon-height;
      width: $phone-icon-width;
    }
  }
}

.hover-enabled .Lock-link:hover,
.hover-disabled .Lock-link:active {
  color: $hover-color;
}
