@import "~breakpoint-sass";

$iphone5: ((min-device-width 568px) and (max-device-width 666px));
$iphone6: ((min-device-width 667px) and (max-device-width 735px));
$iphone6p: ((min-device-width 736px) and (max-device-width 1023px));

$phone: (max-device-width 1023px);

$tablet: ((min-width 1024px) and (max-width 1200px));
$large-tablet: ((min-width 1201px) and (max-width: 1500px));
