@import "~breakpoint-sass";

$iphone5: max-width 666px;
$iphone6: 667px 735px;
$iphone6p: 736px 959px;
$ipad: 1024px 1200px;

$small-tablet: 960px 1023px;

$tablet: 960px 1200px;

$phone: max-width 959px;

$large-tablet: 1201px 1500px;
