@import "sizes.scss";

.Admin-short-button {
  display: inline-flex;
  //max-width: 250px;

  &--hidden {
    visibility: hidden;
  }

  & + & {
    margin-left: 20px;
  }

  > .Admin-button-title {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    text-align: center;

    @include breakpoint($tablet) {
      top: 22px;
    }
  }

  > .Admin-button-title.Admin-button-title--size-large { // large titles are closer to the top
    top: 5px;
  }
}
