.Confirm-modal {
  &__text {
    width: 100%;
    text-align: center;
    font-size: 28px;
  }

  &__yes,
  &__no {
    position: absolute;
    text-align: center;
    bottom: 0;
  }

  &__yes {
    right: 0;
  }

  &__no {
    left: 0;
  }
}
