@import "sizes.scss";

.Activity-title {
  position: absolute;
  right: 0;
  width: 100%;
  top: 10px;
  text-align: center;
  font-size: 22px;
  cursor: default;

  @include breakpoint($phone) {
    font-size: 15px;
    top: 2px;
  }
}
