@import "sizes.scss";

.License-screen {
  font-size: 20px;

  @include breakpoint($phone) {
    font-size: 15px;
  }

  .Info-screen-content {
    padding: 1em;
  }

  p, h1, strong {
    cursor: default;
  }

  h1 {
    font-size: 1.1em;
  }

  p:first-of-type,
  p + p,
  h1 + h1 {
    margin-top: 0.5em;
  }

  h1,
  strong {
    font-weight: bold;
  }
}
