.Admin-section-7 {
  flex-direction: row;
  align-items: stretch;

  .Admin-section-column:not(:first-child) {
    max-width: 250px;
    .Admin-button-title {
      text-decoration: none;
    }
  }

  .Admin-section-column:last-child {
    justify-content: center;
    align-items: stretch;

    .Admin-short-button {
      max-height: 250px;
    }
  }

  .Admin-section-row:first-child .Admin-short-button { // blank space at top of second column
    visibility: hidden;
  }
}
