$width: 19.2rem;
$height: 12rem;
$font-size: 3.4rem;

@mixin arrow-color($color, $hover:true, $size: $font-size) {
  &--color-#{$color} {
    font-size: $size;
    .Arrow__image {
      background-image: url("../../../images/arrows/#{$color}.png");
    }
  }

  @if $hover {
    &--color-#{$color}:hover .Arrow__image {
      background-image: url("../../../images/arrows/#{$color}_hover.png");
    }
  }
}

@mixin arrow-size($size, $width, $height) {
  &--size-#{$size} {
    width: $width;
    height: $height;
  }
}

.Arrow {
  @include arrow-color("black", false);
  @include arrow-color("gray", false);
  @include arrow-color("blue");
  @include arrow-color("red");
  @include arrow-color("orange");
  @include arrow-color("green");

  @include arrow-size("very-small", $width * 0.5, $height * 0.5);
  @include arrow-size("small", $width, $height);
  @include arrow-size("large", $width * 1.5, $height * 1.5);

  color: white;
  font-weight: bold;
  font-size: $font-size;
  z-index: 6;
  background-color: transparent;
  text-align: center;
  cursor: pointer;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    white-space: nowrap
  }

  &--hidden {
    visibility: hidden;
    cursor: default;
  }

  &--flipped {
    .Arrow__image {
      transform: scaleX(-1);
    }
  }

  &--pulsing {
    animation-duration: 0.5s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}
