.Admin-sub-button {
  position: relative;
  display: inline-flex;
  border: 1px solid black;
  max-width: 100px;
  max-height: 75px;
  border-radius: 3px;
  background: #FFF !important;
  flex: 1 1 auto;

  .Admin-button-title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
  }

  .Admin-button-index {
    left: 5px;
    top: 5px;
    font-size: 15px;
  }

  & + & {
    margin-left: 10px;
  }
}

.Admin-sub-button:hover,
.Admin-sub-button.Admin-section-button--selected {
  border: 1px solid red;
}
