@import "sizes.scss";

.Admin {
  display: flex;
  flex-direction: column;

  &__nav {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  &__header-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__header-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__header-button {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 1rem 0 0 5rem;
    &:hover {
      text-decoration: underline;
    }
    @include breakpoint($tablet) {
      font-size: 20px;
      margin: 1.5rem 0 0 5rem;
    }
  }

  &__header-left &__header-button:first-child  {
    margin-left: 5rem;
    @include breakpoint($tablet) {
      margin-left: 2rem;
    }
  }

  &__header-right &__header-button:last-child {
    margin-right: 5rem;
    @include breakpoint($tablet) {
      margin-right: 2rem;
    }
  }

  &__user-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: default;
  }

  &__section-title {
    width: 100%;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    cursor: default;
  }

  &__section-description {
    width: 100%;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 4rem;
    cursor: default;
    @include breakpoint($tablet) {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 2rem;
    }
  }

  &__arrows {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    .Arrow {
      color: #FFF;
      font-size: 22px;

      @include breakpoint($tablet) {
        font-size: 18px;
      }
    }
  }

  &--prev-arrow-hidden &__prev-section-arrow-text,
  &--next-arrow-hidden &__next-section-arrow-text {
    visibility: hidden;
  }

  &__prev-section-arrow-text,
  &__next-section-arrow-text {
    color: #000;
    font-size: 20px;
  }

  &__prev-section-arrow-text {
    margin-right: 20px;
  }

  &__next-section-arrow-text {
    margin-left: 20px;
  }

  &__lesson-numbers {
    font-size: 4.5rem;
    width: 390px;
    text-align: center;
    cursor: default;
  }

  &__lesson-number-range {
    font-family: verdana;
    font-size: 80%;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    flex: 1;
  }

  &__section-box {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__arrow-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; // place at bottom
    padding-right: 10px;
    font-size: 24px;

    @include breakpoint($tablet) {
      padding-right: 0;
      max-width: 150px;
      font-size: 12px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px 20px;
  }

  &__continue-arrow {
    font-family: verdana;

    @include breakpoint($tablet) {
      width: 150px;
      height: 100px;
    }
  }
}
