@import "sizes.scss";

.Admin-row-title {
  position: relative;
  display: flex;
  flex: 1.5 1 auto;
  min-height: 100px;
  height: 100%;
  font-size: 30px;
  min-width: 60px;
  margin-right: 20px;
  line-height: 33px;
  color: #00F;
  cursor: default;
  max-width: 200px;

  > div {
    position: absolute;
    height: 100%;
  }

  &--stretch-content > div {
    display: flex;
    align-items: stretch;
  }

  &__hidden {
    visibility: hidden;
  }

  @include breakpoint($tablet) {
    font-size: 22px;
    min-width: 40px;
    margin-right: 10px;
    line-height: 20px;
    max-width: 100px;
  }
}
