.Response-answer {
  &__content {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .Letters {
    position: relative;
    top: -50px;
    width: 300px;
    height: 300px;
    font-size: 250px;
  }
}
