@import "sizes.scss";

@mixin count-margins($desktop-size, $tablet-size, $phone-size, $iphone6-size: $phone-size, $iphone5-size: $iphone6-size) {
  margin: 0 $desktop-size 0 $desktop-size;
  @include breakpoint($tablet) {
    margin: 0 $tablet-size 0 $tablet-size;
  }

  @include breakpoint($phone) {
    margin: 0 $phone-size 0 $phone-size;
  }

  @include breakpoint($iphone6) {
    margin: 0 $iphone6-size 0 $iphone6-size;
  }

  @include breakpoint($iphone5) {
    margin: 0 $iphone5-size 0 $iphone5-size;
  }
}

.Scene-bar {
  flex-direction: row;
  justify-content: center;

  > * {
    @include count-margins(5rem, 2.5rem, 1.5rem, 1.2rem, 1rem);
  }

  &--count-4 > * {
    @include count-margins(3.5rem, 1.5rem, 0.5rem, 0.3rem, 0.1rem);
  }

  &--count-5 > * {
    @include count-margins(2rem, 1rem, 0.25rem);
  }

  &--count-6 > * {
    @include count-margins(1.5rem, 0.5rem, 0.2rem, 0.1rem);
  }
}
