.Drag-container {
  display: inline-block;
  cursor: grab;
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 0.2s;

  > * {
    cursor: grab !important;
  }

  &--dragging {
    // visibility: hidden;
    transition: none;
    opacity: 0;
  }
}
