.Admin-button-score {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;

  &--passed {
    color: #8C9D45;
  }

  &--failed {
    color: #F00;
  }

  &--hidden {
    visibility: hidden;
  }
}
