.Credit-screen {
  .Info-screen-content {
    padding: 3rem;
    position: relative;
    cursor: default;
  }

  h3,
  &__job-desc,
  &__names,
  &__isbn {
    text-align: center;
  }

  h3 {
    margin-top: 5rem;
  }

  &__job-desc {
    font-weight: bold;
  }

  &__names {
    margin-bottom: 2rem;
  }

  &__version {
    position: absolute;
    font-size: 1rem;
    top: 0.3rem;
    right: 0.3rem;
    color: rgba(0, 0, 0, 0.3);
  }

  em {
    font-style: italic;
  }
}
