@import "../susy.scss";
@import "../util.scss";

$top-padding: 32px;
$back-button-width: 240px;
$back-button-height: 160px;
$back-button-offset: 40px;

.admin__current-section {
  @include pos(8%, 5%);
  bottom: $back-button-offset;
  color: blue;
  font-size: 2.2rem;
  right: $back-button-width + ($back-button-offset * 2);
}

// Admin header
.admin__header {
  @include container;
  @include pos(0);
  @include size(100%, 50px);
  border: 1px solid #1285e7;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #87BFFF 100%);
  font-size: 3rem;
  line-height: 50px;
  text-align: center;
}

.admin__header-nav,
.admin__header-grades {
  height: 100%;
  position: relative;
}

.admin__header-nav {
  @include container;
  @include span(5 nest);
  height: 100%;
  list-style-type: none;
  margin-left: span(1/2);
  position: relative;
  text-align: left;
  z-index: 2;
}

.admin__header-nav-item {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;

  &:not(:first-child) {
      margin-left: 8%;
  }
  @include active {
      text-decoration: underline;
  }
}

.admin__header-title {
  @include pos(0, 0);
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.admin__header-grades {
  @include pos(0, span(1/2), top, right);
  text-align: right;
  width: 100%;
}

.Lesson-button__index {
  @include pos(4px, 4px);
  font-size: 2rem;
}

.Lesson-button {
  cursor: pointer;
  transition: 0.1s;
  @include active {
    border-color: #1285e7;
  }
}

.admin__back-button {
  @include pos($back-button-offset, $back-button-offset, bottom, right);
  @include size($back-button-width, $back-button-height);
  font-size: 25px;
}

.admin--changed .admin__back-button {
  z-index: 2;
}

.admin-section {
  @include size(100%, 100%);
  @include container;
  position: relative;
}

.Lesson-button {
  border: 3px solid black;
  position: relative;
}

.Lesson-button:hover,
.Lesson-button--selected {
  border-color: #FF0000 !important; // important to overwrite the hover effect

  >.Lesson-button__index,
  >.Lesson-button__title,
  >.sub-lesson__title {
    color: #FF0000;
  }
}

// Section header and back/next arrows
.section-header-container {
  height: 19%;
  margin-bottom: 1%;
  text-align: center;
}

.next-section-button,
.previous-section-button,
.Section-header {
  display: inline-block;
  vertical-align: middle;
}

.admin .next-section-button,
.admin .previous-section-button {
  position: relative;
  background-position: center;
  background-size: 75% 50%;
  color: WHITE;
  font-weight: bold;
  height: 100%;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  vertical-align: top;
  top: 50px;

  @include active {
      color: #87BFFF;
  }
}

.previous-section-button {
  position: relative;
  border: 0;
  cursor: pointer;
  margin-right: span(1/2);
  outline: 0;
  left: 200px;
}

.Section-header {
  width: span(6);
}

.next-section-button {
  border: 0;
  cursor: pointer;
  margin-left: span(1/2);
  outline: 0;
  right: 200px;
}
