.Section-header {
    position: relative;
    text-align: center;
}

.Section-header__title {
    width: 100%;
    font-size: 4.5rem;
    font-weight: bold;
    color: BLACK;
}

.Section-header__letters {
    color: #550055;
    width: 100%;
}

.Section-header__lessons {
    margin-top: 12px;
    font-size: 3rem;
    width: 100%;
}
