@import "sizes.scss";
$image: "../../../images/splash/background.png";

$robot-scale: 1;
$large-tablet-robot-scale: 0.9;
$tablet-robot-scale: 0.8;

.Splash {
  width: 100%;
  height: 100%;
  background: url($image) no-repeat;
  background-size: 100% 100%;

  &__arrow-container {
    position: absolute;
    right: 100px;
    bottom: 100px;

    @include breakpoint($tablet) {
      bottom: 50px;
      right: 50px;
    }
  }

  .Arrow {
    cursor: pointer;
    font-size: 5rem;
  }

  .Tctc-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__speech-bubble {
    position: relative;
    left: 65%;
    top: 15%;
    width: 433px;
    height: 187px;
  }

  .Robot {
    position: absolute;
    left: 25%;
    bottom: 3%;
    transform: scale($robot-scale);

    @include breakpoint($large-tablet) {
      transform: scale($large-tablet-robot-scale);
      bottom: 2%;
    }

    @include breakpoint($tablet) {
      transform: scale($tablet-robot-scale);
      bottom: 5%;
      left: 20%;
    }
  }

  .Robot__text {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .User-name-label {
    position: relative;
    font-size: 60px;
    left: 15px;
    right: auto;
    top: auto;
    bottom: auto;
    transform: none;

    @include breakpoint($tablet) {
      font-size: 40px;
    }
  }

  &__version-label {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 20px;
    font-family: verdana;
    text-align: center;
  }
}

.Splash--demo .Splash__version-label {
  color: #F00;
}
