.Play-box {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0;

  &--detached {
    position: absolute;
    left: -9999px;
  }

  &--hidden {
    visibility: hidden;
  }

  &--detached {
    display: none;
  }

  &__display-box {
    position: relative;
  }

  &--size-large &__display-box {
    width: 300px;
    height: 300px;
    font-size: 275px;
    //line-height: 300px;
  }

  &--size-medium &__display-box {
    width: 175px;
    height: 175px;
    font-size: 150px;
  }

  &--size-small &__display-box {
    width: 125px;
    height: 125px;
    font-size: 100px;
  }

  &__sound-wave-container {
    z-index: 10;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}
