@import "sizes.scss";

@mixin bp-size($bp, $name, $size) {
  @include breakpoint($bp) {
    @include size($name, $size);
  }
}

@mixin size($name, $size) {
  &--size-#{$name} {
    min-width: $size;

    .Play-box__display-box {
      height: $size;
    }
  }
}

@mixin bp-sizes($bp, $large, $medium, $small) {
  @include bp-size($bp, "large", $large);
  @include bp-size($bp, "medium", $medium);
  @include bp-size($bp, "small", $small);
}

.Play-box {
  display: inline-block;
  position: relative;
  margin-collapse: separate;

  @include size("large", 300px);
  @include size("medium", 200px);
  @include size("small", 125px);

  @include bp-sizes($tablet, 200px, 150px, 100px);

  @include bp-sizes($phone, 150px, 125px, 75px);
  @include bp-sizes($iphone6p, 140px, 115px, 70px);
  @include bp-sizes($iphone6, 130px, 105px, 60px);
  @include bp-sizes($iphone5, 100px, 75px, 50px);

  &__display-box {
    width: 100%;
  }

  &--detached {
    position: absolute;
    left: -9999px;
  }

  &--hidden {
    visibility: hidden;
  }

  &--detached {
    display: none;
  }

  &__display-box {
    position: relative;
  }

  &--no-wave &__sound-wave-container {
    display: none;
  }

  &__sound-wave-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    margin-top: 2rem;
    width: 100%;
    text-align: center;

    @include breakpoint($phone) {
      margin-top: 10px;
    }
  }
}
