
.Other-product {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
  font-size: 22px;
  width: 100%;
  min-height: 152px;

  &:hover {
    .Other-product__content {
      background: #f3f3ff;
    }
  }

  &__thumbnail {
    border: 1px solid #444;
    min-width: 202px;
    min-height: 152px;
    max-width: 202px;
    max-height: 152px;
    box-sizing: border-box;
  }

  &__content {
    flex: 1 1 auto;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
    border: 1px solid #444;
  }
}
