@import "sizes.scss";

.Lesson-arrow {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  cursor: pointer;
  font-size: 55px;

  @include breakpoint($tablet) {
    font-size: 45px;
  }

  @include breakpoint($phone) {
    width: 100px;
    height: 80px;
    font-size: 25px;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
