@import "sizes.scss";

$banner-width: 526px;
$banner-height: 77px;

.Other-products-screen {
  font-size: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 3em;

    @include breakpoint($tablet) {
      padding: 2em;
    }

    @include breakpoint($phone) {
      padding: 1em;
    }

  }

  &__banner-box {
    text-align: center;
    min-height: 0px;
    min-width: 0px;
    width: $banner-width * 1.25;
    height: $banner-height * 1.25;
    margin-bottom: 1em;
    display: inline-block;
    background: url("../../../images/other-products-banner.png") no-repeat;
    background-size: 100% 100%;

    @include breakpoint($phone) {
      width: $banner-width * 0.9;
      height: $banner-height * 0.9;
    }
  }

  &__main-text {
    margin-top: 2em;
    cursor: default;

    @include breakpoint($phone) {
      margin-top: 1em;
    }
  }

  &__op-title {
    font-size: 1.3em;
  }

  .Other-product + .Other-product {
    margin-top: 0.5em;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}
