.Admin-section-4 {
  flex-direction: row;
  align-items: stretch;

  .Admin-section-button {
    background: #dfe8f5;
  }

  .Admin-section-column:not(:first-child) {
    max-width: 250px;
    .Admin-button-title {
      text-decoration: none;
    }
  }

  .Admin-section-column:last-child {
    justify-content: center;
    align-items: stretch;

    .Admin-short-button {
      max-height: 250px;
    }
  }
}
