@import "sizes.scss";

$button-width: 200px;

.Admin-section-4 {
  flex-direction: row;
  align-items: stretch;

  .Admin-section-column:not(:first-child) {
    max-width: $button-width;
    .Admin-button-title {
      text-decoration: none;
    }
  }

  .Admin-section-column:last-child {
    justify-content: center;
    align-items: stretch;
    max-width: 200px;

    @include breakpoint($tablet) {
      max-width: 120px;
    }

    .Admin-short-button {
      max-height: 250px;
    }

    .Admin-button-title {
      line-height: 4.5rem;
    }
  }
}
