$width: 90rem;
$height: 108.3rem;

$arm-gif: "../../../images/robot-gifs/boy-arm.gif";
$no-arm-gif: "../../../images/robot-gifs/boy-no-arm.gif";
$idle-image: "../../../images/robot-parts/boy-idle-1.png";
$hover-image: "../../../images/robot-parts/boy-idle-2.png";
$glow-image: "../../../images/robot-parts/boy-idle-3.png";

$small-scale: 0.2;
$large-scale: 0.5;

.Robot-boy--small {
  width: $width * $small-scale;
  height: $height * $small-scale;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.Robot-boy--animating {
    background-image: url($arm-gif);
  }

  &.Robot-boy--animating.Robot--no-arm {
    background-image: url($no-arm-gif);
  }

  &.Robot-boy--idle {
    background-image: url($idle-image);
  }

  &.Robot-boy--not-speaking {
    cursor: pointer;
  }

  &.Robot-boy--not-speaking.Robot-boy--glowing {
    background-image: url($glow-image);
  }

  .hover-enabled &.Robot-boy--not-speaking:hover,
  .hover-disabled &.Robot-boy--not-speaking:active {
    background-image: url($hover-image);
  }
}

.Robot-boy--large {
  width: $width * $large-scale;
  height: $height * $large-scale;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.Robot-boy--animating {
    background-image: url($no-arm-gif);
  }

  &.Robot-boy--idle {
    background-image: url($idle-image);
  }
}
