@import "sizes.scss";
$width: 90.1rem;
$height: 116.3rem;

$arm-gif: "../../../images/robot-gifs/girl-arm.gif";
$no-arm-gif: "../../../images/robot-gifs/girl-no-arm.gif";
$idle-image: "../../../images/robot-parts/girl-idle-1.png";
$hover-image: "../../../images/robot-parts/girl-idle-2.png";
$glow-image: "../../../images/robot-parts/girl-idle-3.png";

$small-scale: 0.2;
$large-scale: 0.5;

.Robot-girl--small {
  width: $width * $small-scale;
  height: $height * $small-scale;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include breakpoint($iphone6p) {
    width: $width * $small-scale * 0.7;
    height: $height * $small-scale * 0.7;
  }

  @include breakpoint($iphone6) {
    width: $width * $small-scale * 0.6;
    height: $height * $small-scale * 0.6;
  }

  @include breakpoint($iphone5) {
    width: $width * $small-scale * 0.5;
    height: $height * $small-scale * 0.5;
  }

  &.Robot-girl--animating {
    background-image: url($arm-gif);
  }

  &.Robot-girl--animating.Robot--no-arm {
    background-image: url($no-arm-gif);
  }

  &.Robot-girl--idle {
    background-image: url($idle-image);
  }

  &.Robot-girl--not-speaking {
    cursor: pointer;
  }

  &.Robot-girl--not-speaking.Robot-girl--glowing {
    background-image: url($glow-image);
  }

  .hover-enabled &.Robot-girl--not-speaking:hover,
  .hover-disabled &.Robot-girl--not-speaking:active {
    background-image: url($hover-image);
  }
}

.Robot-girl--large {
  width: $width * $large-scale;
  height: $height * $large-scale;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include breakpoint($iphone6p) {
    width: $width * $large-scale * 0.7;
    height: $height * $large-scale * 0.7;
  }

  @include breakpoint($iphone6) {
    width: $width * $large-scale * 0.6;
    height: $height * $large-scale * 0.6;
  }

  @include breakpoint($iphone5) {
    width: $width * $large-scale * 0.5;
    height: $height * $large-scale * 0.5;
  }

  &.Robot-girl--animating {
    background-image: url($no-arm-gif);
  }

  &.Robot-girl--idle {
    background-image: url($idle-image);
  }
}
