@import "../../style/sprite.scss";

$no-arm-image: "../../../images/robot-sprites/girl-no-arm.png";
$no-arm-width: 4263px;
$no-arm-height: 1835px;
$no-arm-columns: 3;
$no-arm-rows: 1;

$arm-image: "../../../images/robot-sprites/girl-arm.png";
$arm-width: 4263px;
$arm-height: 1835px;
$arm-columns: 3;
$arm-rows: 1;

$idle-image: "../../../images/robot-sprites/girl-idle.png";
$idle-width: 4263px;
$idle-height: 1835px;
$idle-columns: 3;
$idle-rows: 1;

$speed: 0.5s;
$large: 450px;
$small: 200px;

.Robot-girl--small {
  &.Robot-girl--animating {
    @include animated-sprite(
      $arm-image,
      $arm-width,
      $arm-height,
      $arm-columns,
      $arm-rows,
      0,
      0,
      ($small * $arm-columns) / $arm-width
    );
  }

  &.Robot-girl--idle {
    cursor: pointer;
    @include sprite-frame(
      $idle-image,
      $idle-width,
      $idle-height,
      $idle-columns,
      $idle-rows,
      0,
      0,
      ($small * $idle-columns) / $idle-width
    );
  }

  &.Robot-girl--not-speaking.Robot-girl--glowing { // small, not speaking, glowing
    @include sprite-frame(
      $idle-image,
      $idle-width,
      $idle-height,
      $idle-columns,
      $idle-rows,
      2,
      0,
      ($small * $idle-columns) / $idle-width
    );
  }

  &.Robot-girl--not-speaking:hover {
    @include sprite-frame(
      $idle-image,
      $idle-width,
      $idle-height,
      $idle-columns,
      $idle-rows,
      1,
      0,
      ($small * $idle-columns) / $idle-width
    );
  }
}

.Robot-girl--large {
  &.Robot-girl--animating {
    @include animated-sprite(
      $no-arm-image,
      $no-arm-width,
      $no-arm-height,
      $no-arm-columns,
      $no-arm-rows,
      0,
      0,
      ($large * $no-arm-columns) / $no-arm-width
    );
  }

  &.Robot-girl--idle {
    @include sprite-frame(
      $idle-image,
      $idle-width,
      $idle-height,
      $idle-columns,
      $idle-rows,
      0,
      0,
      ($large * $idle-columns) / $idle-width
    );
  }
}
