@import "./boy.scss";
@import "./girl.scss";

.Robot__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.Robot__text {
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
  left: -5px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.Robot--large:not(.Robot--show-text) .Robot__text {
  display: none;
  white-space: nowrap;
}
