@import "./sibling-count";

$width: 30em;
$height: 30em;

$sibling-count-scales: (
  4: 0.8,
  5: 0.7,
  6: 0.6
);

.Choice {
  display: inline-block;
  width: $width;
  height: $height;

  &--hidden {
    visibility: hidden;
  }

  &--detached {
    position: absolute;
    visibility: hidden;
    left: -9999px;
    top: -9999px;
    margin: 0;
  }

  &--disabled {
    cursor: default;
  }

  &--large {
    width: $width;
    height: $height;
  }

  &--medium {
    width: $width * 0.75;
    height: $height * 0.75;
  }

  &--small {
    width: $width * 0.5;
    height: $height * 0.5;
  }
}

.Choice + .Choice {
  margin-left: 100px;
}

.Choice--medium + .Choice--medium {
  margin-left: 50px;
}

@each $count, $ratio in $sibling-count-scales {
  .Choice--scalable {
    @include sibling-count($count) {
      width: $width * $ratio;
      height: $height * $ratio;
    }
  }
}
