.Game-screen {
  .Robot-boy:not(.Robot-actor--centered),
  .Robot-girl:not(.Robot-actor--centered) {
    position: absolute;
    cursor: pointer;
    bottom: auto;
  }

  .Robot-boy:not(.Robot-actor--centered) {
    left: 20px;
    top: 20px;
    right: auto;
  }

  .Robot-girl:not(.Robot-actor--centered) {
    right: 20px;
    top: 20px;
    left: auto;
  }
}
