.Level-feedback {
  width: 100%;
  height: 100%;
}

.Level-feedback__title-box {
  margin-top: 8%;
  width: 100%;
  text-align: center;
}

.Level-feedback__title {
  font-size: 64px;
}

.Level-feedback__subtitle {
  font-size: 22px;
}

.Level-feedback__score-box {
  font-size: 48px;
  width: 100%;
  margin-top: 80px;
  text-align: center;
}

.Level-feedback__arrow-box {
  margin-top: 140px;
  width: 100%;
  text-align: center;
}
