$icon-image: "../../images/lock-icon.png";
$icon-width: 22px;
$icon-height: 29px;
$icon-spacing: 4px;
$font-size: 25px;
$color: #568ED4;

.Lock-link {
  cursor: pointer;
  color: $color;
  font-size: $font-size;
}

.Lock-link__text, .Lock-link__icon {
  display: inline-block;
  vertical-align: middle;
}

.Lock-link__text {
  position: relative;
  line-height: $icon-height;
  height: $icon-height;
  text-decoration: underline;
}

.Lock-link__icon {
  width: $icon-width;
  height: $icon-height;
  margin-right: $icon-spacing;
  background: url($icon-image) no-repeat;
  background-size: 100% 100%;
}