$show-outlines: false;
$default-image: "../../images/owl/default.png";
$default-width: 401px * 0.95;
$default-height: 500px;// * 0.9;

$speaking-image: "../../images/owl/speaking-sprite.png";
$speaking-width: 473px;
$speaking-height: 500px;
$speak-speed: 0.4s;
$text-size: 60px;

// Sprite sheet dimentions
$speaking-sprite-width: 956px;
$speaking-sprite-height: 500px;

// 0.801 instead of 0.8 because 0.8 causes sub-pixel jitter during animation
$sizes: (
  large: 0.801,
  medium: 0.6,
  small: 0.4,
  default: 0.46
);

.Owl {
  z-index: 5;
  cursor: pointer;
  display: inline-block;
}

.Owl--centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@each $size, $ratio in $sizes {
  .Owl--size-#{$size} {
    @if $show-outlines == true {
      outline: 1px solid #A0A;
    }
    width: $default-width * $ratio;
    height: ($default-height * $ratio) + ($text-size * $ratio);
    .Owl__content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .Owl__text {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      font-size: ($text-size * $ratio);
    }

    .Owl__image {
      background: url($default-image) no-repeat;
      background-size: 100% 100%;
      width: $default-width * $ratio;
      height: $default-height * $ratio;
    }
  }

  .Owl--size-#{$size}.Owl--speaking {
    width: $speaking-width * $ratio;
    height: $speaking-height * $ratio;
    .Owl__image {
      width: $speaking-width * $ratio;
      height: $speaking-height * $ratio;
      background: url($speaking-image);
      background-position: 0 0;
      background-size: ($speaking-sprite-width * $ratio) ($speaking-sprite-height * $ratio);
    }

    .Owl__text {
      visibility: hidden;
    }
  }

  .Owl--size-#{$size}.Owl--speaking-animating {
    .Owl__image {
      animation: owl-speak-#{$size} $speak-speed steps(2) infinite;
    }
  }

  @keyframes owl-speak-#{$size} {
    100% {
      background-position: (-1 * $speaking-sprite-width * $ratio) 0;
    }
  }
}
