@import "./util.scss";

$image: "../../images/robot-sprites/girl-arm.png";
$image-no-arm: "../../images/robot-sprites/girl-no-arm.png";
$image-width: 5684px;
$image-height: 1812px;
$columns: 4;
$rows: 1;
$speed: 0.5s;

$large: 450px;
$small: 225px;

$large-scale: ($large * $columns) / $image-width;
$small-scale: ($small * $columns) / $image-width;

$idle-frame: 3;

.Robot-girl--small {
  &.Robot-girl--animating {
    @include animated-sprite(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      0,
      0,
      $small-scale
    );
  }

  &.Robot-girl--idle {
    @include sprite-frame(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      $idle-frame,
      0,
      $small-scale
    );
  }
}

.Robot-girl--large {
  &.Robot-girl--animating {
    @include animated-sprite(
      $image-no-arm,
      $image-width,
      $image-height,
      $columns,
      $rows,
      0,
      0,
      $large-scale
    );
  }

  &.Robot-girl--idle {
    @include sprite-frame(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      $idle-frame,
      0,
      $large-scale
    );
  }
}
