@import "./util.scss";

@mixin robot(
  $image,
  $image-width,
  $image-height,
  $columns,
  $rows,
  $speed,
  $large-width,
  $small-width,
  $idle-x:0 // which frame to use when not animating
) {
  $p: &;
  $large-scale: ($large * $columns) / $image-width;
  $small-scale: ($small * $columns) / $image-width;

  &.Robot--large {
    @include sprite-frame(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      $idle-x,
      0,
      $large-scale
    );
  }

  &--animating.Robot--large {
    @include animated-sprite(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      0,
      0,
      $large-scale
    );
  }

  &.Robot--small {
    @include sprite-frame(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      $idle-x,
      0,
      $small-scale
    );
  }

  &--animating.Robot--small { // animating and small
    @include animated-sprite(
      $image,
      $image-width,
      $image-height,
      $columns,
      $rows,
      0,
      0,
      $small-scale
    );
  }
}
