.SplashArrow {
  width: 192px;
  height: 120px;
  background: url("../../images/arrow.png") no-repeat;
  background-size: 100% 100%;
}

.SplashArrow:hover {
  background-image: url("../../images/arrow_hover.png");
}
