$image: (
  path: "../../images/teacher/sitting.png",
  width: 502px,
  height: 500px
);

$speaking-sprite: (
  path: "../../images/teacher/speaking-sprite.png",
  width: 796px,
  height: 752px,
  animation-speed: 0.4s,
  frames: 2
);

$text-distance: 40px;
$text-size: 22px;

$small-scale: 0.55;
$large-scale: 1;

.Teacher {
  z-index: 5;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: $text-size;
  transform-origin: top right;

  &--centered {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image {
    background: url(map-get($image, path)) no-repeat;
    background-size: 100% 100%;

    width: map-get($image, width);
    height: map-get($image, height);
  }

  &__text {
    position: absolute;
    width: 100%;
    bottom: -$text-distance;
    text-align: center;
    font-size: $text-size;
  }
}

.Teacher--speaking {
  .Teacher__image {
    width: (map-get($speaking-sprite, width) / map-get($speaking-sprite, frames));
    height: map-get($speaking-sprite, height);
    background: url(map-get($speaking-sprite, path)) no-repeat;
    background-size: map-get($speaking-sprite, width) map-get($speaking-sprite, height);
  }

  .Teacher__text {
    visibility: hidden;
  }
}

.Teacher--speaking.Teacher--animating .Teacher__image {
  animation: teacher-speak map-get($speaking-sprite, animation-speed) steps(map-get($speaking-sprite, frames)) infinite;
}

.Teacher--size-small {
  transform: scale($small-scale, $small-scale);

  .Teacher__text {
    transform: scale((1 / $small-scale), (1 / $small-scale));
  }
}

// .Teacher--size-large {
//   transform: scale($large-scale, $large-scale);
//
//   .Teacher__text {
//     transform: scale((1 / $large-scale), (1 / $large-scale));
//   }
// }
//
// .Teacher--size-large.Teacher--centered {
//   transform: scale($large-scale, $large-scale) translate(-50%, -50%);
// }


.Teacher--size-small.Teacher--centered {
  transform: scale($small-scale, $small-scale) translate(-50%, -50%);
}

@keyframes teacher-speak {
  from {
    background-position: 0;
  }
  to {
    background-position: (-1 * map-get($speaking-sprite, width));
  }
}
