@import "sizes.scss";

$image: "../../../images/star-border.png";
$dark-image: "../../../images/star-border-dark.png";
$width: 25px;

$large-image: "../../../images/star-border-large.png";
$large-width: 50px;

.Star-container {
  display: inline-block;
  border-width: $width;
  border-style: solid;
  border-image: url($image) 25 25 round;
  text-align: center;

  &--large {
    border-width: $large-width;
    border-image: url($large-image) 50 50 round;
  }

  &--dark {
    border-width: $width;
    border-image: url($dark-image) 25 25 round;
  }

  &--padded {
    padding: 50px 150px 50px 150px;

    @include breakpoint($tablet) {
      padding: 25px 75px 25px 75px;
    }
  }
}
