.Actor {
  position: absolute;
  z-index: 10;

  &--size-small.Actor--boy {
    left: 1rem;
    top: 1rem;
  }

  &--size-small.Actor--girl {
    right: 1rem;
    top: 1rem;
  }

  &--size-large {
    left: 50%;
    top: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}
