@import "sizes.scss";
$image: "../../../images/tctc-logo.png";
$width: 154px;
$height: 100px;

.Tctc-logo {
  background: url($image) no-repeat;
  background-size: 100% 100%;
  width: $width;
  height: $height;

  @include breakpoint($small-tablet) {
    width: $width * 0.75;
    height: $height * 0.75;
  }

  @include breakpoint($phone) {
    width: $width / 2;
    height: $height / 2;
  }
}
