@import "sizes.scss";

.Admin-button-title {
  &--size-small {
    font-size: 2.4rem;
    line-height: 2.4rem;

    @include breakpoint($tablet) {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }

  &--size-medium {
    font-size: 3.5rem;
    line-height: 3.5rem;

    @include breakpoint($tablet) {
      font-size: 2.5rem;
      line-height: 25px;
    }
  }

  &--size-large {
    font-size: 7.0rem;
    @include breakpoint($tablet) {
      font-size: 4.0rem;
    }
  }
}

.Admin-button-title--size-large.Admin-button-title--brief {
  @include breakpoint($tablet) {
    font-size: 50px;
  }
}

.Admin-button-title--size-medium.Admin-button-title--brief {
  @include breakpoint($tablet) {
    font-size: 25px;
  }
}
