@import "sizes.scss";

.Score-screen {
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__boy {
    margin-left: 140px;
    transform: scale(1.5, 1.5);

    @include breakpoint($phone) {
      margin-left: 50px;
    }

    @include breakpoint($iphone5) {
      margin-left: 25px;
    }
  }

  &__score {
    margin-right: 50px;
    @include breakpoint($phone) {
      margin-right: 0;
    }
  }

  &__robot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 75px 0 75px;

    @include breakpoint($iphone5) {
      margin: 0;
      height: 100px;
    }

    @include breakpoint($iphone6) {
      margin: 0;
      height: 120px;
    }

    @include breakpoint($iphone6p) {
      margin: 20px 0 20px;
      height: 120px;
    }
  }

  .Robot {
    @include breakpoint($iphone5) {
      transform: scale(0.7, 0.7);
    }
    @include breakpoint($iphone6) {
      transform: scale(0.8, 0.8);
    }
    @include breakpoint($iphone6p) {
      transform: scale(0.9, 0.9);
    }
  }

  .Arrow {
    position: relative;
    cursor: pointer;

    @include breakpoint($phone) {
      width: 192px * 0.7;
      height: 120px * 0.7;
      font-size: 25px;
    }
  }

  &__back-arrow {
    position: relative;
    font-size: 45px;
    margin-right: 150px;

    @include breakpoint($tablet) {
      font-size: 32px;
    }

    @include breakpoint($phone) {
      font-size: 22px;
      margin-right: 50px;
    }

    @include breakpoint($iphone5) {
      margin-right: 15px;
    }
  }

  &__next-arrow {
    font-size: 50px;
    margin-left: 150px;

    @include breakpoint($phone) {
      margin-left: 50px;
    }
    @include breakpoint($iphone5) {
      margin-left: 15px;
    }
  }
}

.Score-screen--passing .Score-screen__back-arrow {
  left: 50px;

  @include breakpoint($phone) {
    left: 0;
  }
}
