.Score-screen {
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__boy {
    margin-left: 140px;
    transform: scale(1.5, 1.5);
  }

  &__score {
    margin-right: 50px;
  }

  &__robot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 75px 0 75px;
  }

  .Arrow {
    position: relative;
    cursor: pointer;
  }

  &__back-arrow {
    font-size: 45px;
    margin-right: 150px;
  }

  &__next-arrow {
    font-size: 50px;
    margin-left: 150px;
  }
}
