@import "sizes.scss";

.Login {
  display: flex;
  flex-direction: column;
  background: #CEE7E8;

  &__header {
    position: relative;
    flex: 0 1 150px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 800;

    @include breakpoint($phone) {
      display: none;
    }
  }

  &__header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__user-list {
    display: flex;
    flex-direction: row;
    height: 0;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 100px;

    .User-list {
      flex: 0 1 600px;
      margin: 0 auto;
      background: #FFF;
    }
  }

  &__form-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;

    .User-list-form {
      flex: 0 1 600px;
      margin: 0 auto;
    }
  }

  &__login-button {
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50%;
    font-size: 35px;
    min-width: 200px;
    transform: translate(0, -50%);
    @include breakpoint($phone) {
      font-size: 25px;
    }
  }

  &__footer {
    position: relative;
    flex: 0 1 150px;
    width: 100%;
    text-align: right;
    @include breakpoint($phone) {
      max-height: 85px;
    }
  }

  input {
    border: 2px solid #444;
    outline: none;
    padding-left: 10px;
    font-size: 35px;
    text-size-adjust: none;

    @include breakpoint($phone) {
      font-size: 25px;
    }
  }

  .Arrow  {
    @include breakpoint($tablet) {
      height: 120px;
    }

    @include breakpoint($phone) {
      height: 75px;
      width: 120px;
    }
  }
}
