@import "sizes.scss";
$top-background: #C5AECE;
$bottom-background: #CDE39F;

.Authscreen {
  background: $top-background;

  &__bottom {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: $bottom-background;
  }

  &__timer {
    text-align: center;
    font-size: 140px;
    cursor: default;
    align-self: center;
  }

  &__instructions {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    cursor: default;
  }

  &__password {
    font-weight: bold;
  }

  form {
    position: relative;
    width: 100%;
    text-align: center;
    top: 35%;
    vertical-align: middle;
    @include breakpoint($tablet) {
      top: 45%;
    }
  }

  input {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 25%;
    font-size: 45px;
    line-height: 40px;
    vertical-align: middle;

    @include breakpoint($tablet) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .Arrow {
    display: inline-block;
    position: relative;
    left: 20px;
    top: 55px;
    font-size: 40px;

    @include breakpoint($tablet) {
      top: 47px;
      height: 95px;
    }
  }
}
