@import "sizes.scss";
$top-background: #C5AECE;
$bottom-background: #CDE39F;

.Authscreen {
  background: $top-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 auto;
    width: 100%;
    height: 30%;
    background: $bottom-background;

    @include breakpoint($phone) {
      flex: 1 1 auto;
    }
  }

  &__timer {
    text-align: center;
    font-size: 140px;
    cursor: default;
    align-self: center;

    @include breakpoint($phone) {
      font-size: 80px;
    }
  }

  &__instructions {
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
    cursor: default;
    margin-top: 50px;

    @include breakpoint($tablet) {
      margin-top: 25px;
    }

    @include breakpoint($phone) {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  &__password {
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 auto;
    width: 100%;
    margin-top: 35px;

    @include breakpoint($tablet) {
      margin-top: -20px;
    }
  }

  input {
    flex: 1 1 auto;
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 300px;
    max-width: 600px;
    height: 50px;
    font-size: 45px;
    line-height: 40px;
    vertical-align: middle;

    @include breakpoint($tablet) {
      font-size: 30px;
      line-height: 30px;
    }

    @include breakpoint($phone) {
      font-size: 20px;
      max-width: 300px;
      min-width: 200px;
    }
  }

  .Arrow {
    display: inline-block;
    position: relative;
    font-size: 40px;
    top: -36px;

    @include breakpoint($tablet) {
      height: 95px;
      top: -22px;
    }

    @include breakpoint($phone) {
      height: 95px;
      top: -22px;
    }
  }
}
