@import "sizes.scss";

$logo-scale: 0.7;
$logo-tablet-scale: 0.4;
$logo-width: 1116px;
$logo-height: 589px;

.Loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: verdana;

  &__progress-bar-container {
    border: 2px solid black;
    width: 50%;
  }

  &__progress-bar {
    background: #BB0014;
    height: 40px;
    transition: width 0.1s;
  }

  &__logo {
    width: $logo-width * $logo-scale;
    height: $logo-height * $logo-scale;
    background: url("../../../images/loader-logo.png") no-repeat;
    background-size: 100% 100%;

    @include breakpoint($tablet) {
      width: $logo-width * $logo-tablet-scale;
      height: $logo-height * $logo-tablet-scale;
    }
  }

  &__text {
    font-size: 25px;
    font-weight: bold;
  }

  &__sub-text {
    font-size: 20px;
  }
}
