.Display-box {
  display: inline-block;
  box-sizing: content-box;
  background: #FFF;
  border: 3px solid #FFF;
  overflow: hidden;

  &--clickable {
    cursor: pointer;
  }

  &--clickable:hover,
  &--active {
    box-shadow: 0px 0px 25px 0px #00A;
  }

  &--clickable:active,
  &--selected {
    outline: 3px solid #00A;
  }
}
